.about-wrap{
    width: 100%;
    background-color:#f3f3f3;
    margin-bottom: 300px;
}
.itemText{
    height: 600px;
    padding: 57px 30px;
    margin-top: 100px;
    background-color: red;
}
.itemLower{
  position: relative;
}
.itemLower img{
  width: 100px; 
  position: absolute;
  bottom: 0;
  left: 170px;
}
.itemLower2{
    position: relative;
    
}
.itemLower2 img{
    width: 100px; 
    position: absolute;
    right: 160px;
    bottom: 0;
}
.itemLower3{
    background-color: darkcyan;
}
.h{
    max-height: 350px;
    height: 700px;
}
.item-space{
    background-color: blue;
    padding: 40px;
}
.gridCont{
        background-color: '#096A3D';
        background-image: url("../../images/Protruding-Squares.svg")  ;
}
@media(max-width: 786px){
    .itemLower img{
        max-width: 50%; 
        position: absolute;
        bottom: 0;
        left: 40px;
       }
       
    .itemLower2 img{
        max-width: 55px; 
        position: absolute;
        bottom: 0;
        right: 40px;
    }
    .itemLower img{
        width: 50px; 
        position: absolute;
        bottom: 0;
        left: 70px;
      }
}