.about-wrap{
    width: 100%;
    background-color: #f3f3f3;
    margin-bottom: 300px;
}
.itemText{
    height: 300px;
    padding: 7px 30px;
    background-color: white;
}
.itemLower{
  position: relative;
}
.itemLower img{
  width: 100px; 
  position: absolute;
  bottom: 0;
  left: 170px;
}
.itemLower2{
    position: relative;
    
}
.itemLower2 img{
    width: 100px; 
    position: absolute;
    right: 160px;
    bottom: 0;
}
.itemLower3{
    background-color: darkcyan;
}
.h{
    max-height: 200px;
    height: 200px;
}
.item-space{
    background-color: white;
}

@media(max-width: 786px){
    .itemLower img{
        max-width: 50%; 
        position: absolute;
        bottom: 0;
        left: 40px;
       }
       
    .itemLower2 img{
        max-width: 55px; 
        position: absolute;
        bottom: 0;
        right: 40px;
    }
    .itemLower img{
        width: 50px; 
        position: absolute;
        bottom: 0;
        left: 70px;
      }
}