.img1{
    width: 100%;
    background-image: url(../../images/landing_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: changeBG 16s infinite;
}

@keyframes changeBG{
    /* Standard syntax */
    25%{
    background-image: url(../../images/landing_bg.jpg);
    }
    40%{
        background-image: url(../../images/landing_bg2.jpg);
        }
        55%{
            background-image: url(../../images/landing_bg3.jpg);
            }
            80%{
                background-image: url(../../images/landing_bg4.jpg);
                }
}
.example2{
    background-repeat: no-repeat;
    background-size: 300px 100px;
    z-index: 100;
    width: 80%;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding-top: 60px;
}
@media(max-width: 786px){
    .example2{
        width: 100%;
        height: 100vh;
    }
}