.navbar{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    z-index: 4;
  }

  .logo{
    margin-top: 26px;
    width: 140px;
  }
  
  #___loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 9949;
  }
  nav .navbar-nav li a{
    color: white !important;
}
.top{
  margin-top: 40px;
}
.toolbox{
  width: 40%;
  height: 80px;
  margin:  0 auto;
  position: relative;
}
a.btn{
  position: absolute;
  right: 100px;
  top: 16px;
  background-color: green;
  color: white;
}
a.btn:hover{
  color: black;
  background-color: greenyellow;
}
@media(max-width: 786px){
  a.btn{
    
  }
}