.section3{
    width: 100%;
    padding: 20px 0;
    height: 600px;
}
.content{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    border-width: 16px;
    border-style: solid;
    border-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-image-slice: 1;
    padding: 20px;
}
.contentH1{
    position: relative;
    width: 100%;
    height: 40%;
}
.contentH1::after{
    content: "";
    height: 4px;
    background-color: black;
    width: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.contentH1 img{
    position: absolute;
    right: 30px;
    top: 80px;
}
.contentButtonCont{
    width: 100%;
    height: 50%;
    background-color: thistle;
    position: relative;
    padding: 10px 80px 0 30px;
}
.contentButton{
    position: absolute;
    bottom: 30px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
}

@media (max-width: 786px){
    .contentButton{
        margin-left: 0;
    }
    .contentButtonCont{
        height: 50%;
    }
    .contentH1 img{
        top: 50px;
        right: 0;
    }
}